/* Body */
body {
    overflow: auto;
    min-height: 300vh;
    background-color: #E9E9E9;
    margin: 0;
    padding: 0;
    position: relative;
}

@font-face {
    font-family: 'Fruits Delight';
    src: url('font/Fruits Delight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* H3 Portfólio */
h3 {
    text-align: center;
    color: #718878;
    font-size: 30px;
}

.section {
    margin-top: 100vh;
}

.section-portfolio {
    text-align: center;
    margin-top: 50vh;
}

/* Barra Superior */
.barra-superior {
    background-color: #718878;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
}

.barra-superior span.material-icons {
    font-size: 30px; 
    margin-right: 50px; 
    margin-left: 30px;
}

.barra-superior h2 {
    margin: 0;
    padding: 20px 100px; 
}

/* Barra Inferior */

.barra-inferior {
    background-color: #718878;
    color: #E9E9E9;
    display: inline-block;
    align-items: center;
    width: 100%;
    margin: 0;
    bottom: 0;
    position: absolute;
}

.barra-inferior h4 {
    margin: 4px; 
}

/* Card About */
.cardAbout {
    position: absolute;
    display: flex;
    width: 70%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px;
}

.cardAbout .cardAboutImage {
    flex: 1;
    padding: 20px;
    text-align: right;
}

.cardAbout .cardAboutImage img {
    width: 100%;
    border-radius: 2%;
    height: 100%;
    object-fit: cover;
}

.cardAbout .cardAboutContent {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.cardAbout .cardAboutContent p {
    color: #718878;
    font-size: 28px;
    font-family: 'Fruits Delight', sans-serif;
    margin: 0;
}

/* Certificados */
.containerCertificates {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.containerCertificates > div {
    background-color: #718878;
    border: 2px groove #718878;
    border-radius: 10px;
    height: 100%;
    width: 450px;
    margin: 30px;
}

.containerCertificates img {
    width: 100%;
    border-radius: 2%;
    height: 100%;
    object-fit: cover;
}

.containerCertificates p {
    color: #E9E9E9;
    text-align: center;
}

/* Portfolios */

.containerPortfolios {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
}

.containerPortfolios > div {
    background-color: #718878;
    border: 2px groove #718878;
    border-radius: 10px;
    height: 100%;
    width: 450px;
    margin: 30px;
}

.containerPortfolios img {
    width: 100%;
    border-radius: 2%;
    height: 100%;
    object-fit: cover;
}

.containerPortfolios p {
    color: #E9E9E9;
}