/* Body */
body {
    overflow: auto;
    min-height: 350vh;
    background-color: #E9E9E9;
    margin: 0;
    padding: 0;
    position: relative;
}

@font-face {
    font-family: 'Fruits Delight';
    src: url('font/Fruits Delight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* H3 Portfólio */

h3 {
    text-align: center;
    margin-top: 3200px;
    color: #718878;
    font-size: 30px;
}

/* Barra Superior */
.barra-superior {
    background-color: #718878;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
}

.barra-superior span.material-icons {
    font-size: 30px; 
    margin-right: 50px; 
    margin-left: 30px;
}

.barra-superior h2 {
    margin: 0;
    padding: 20px 100px; 
}

/* Card About */

.cardAbout {
    position: absolute;
    display: flex;
    width: 70%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px;
}

.cardAbout .cardAboutImage {
    flex: 1;
    padding: 20px;
    text-align: right;
}

.cardAbout .cardAboutImage img {
    width: 100%;
    border-radius: 2%;
    height: 100%;
    object-fit: cover;
}

.cardAbout .cardAboutContent {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.cardAbout .cardAboutContent p {
    color: #718878;
    font-size: 28px;
    font-family: 'Fruits Delight', sans-serif;
    margin: 0;
}

/* Certificados */

.containerCertificates {
    display: flex;
    position: relative;
    justify-content: space-between;
    text-align: center;
    height: 250vh;
}

/* Primeiro 'Card Esquerdo' */
.cardOne {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
    background-color: #718878;
    border-width: 2px;
    border-style: groove;
    border-color: #718878;
    border-radius: 10px;
}

.cardOne img {
    width: 450px;
    border-radius: 2%;
    height: auto;
    object-fit: cover;
}

.cardOne p {
    color: #E9E9E9;
    text-align: center;
}

/* Segundo Card 'Card Central' */
.cardTwo {
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    margin: 30px;
    background-color: #718878;
    border: 2px groove #718878;
    border-radius: 10px;
    text-align: center;
    width: 450px;
}

.cardTwo img {
    width: 100%;
    border-radius: 2%;
    height: auto;
    object-fit: cover;
}

.cardTwo p {
    color: #E9E9E9;
    text-align: center;
}

.cardTwo h3 {
    color: #718878;
    text-align: center;
}

/* Terceiro Card 'Card Direita' */
.cardThree {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
    background-color: #718878;
    border: 2px groove #718878;
    border-radius: 10px;
    text-align: center;
    width: 450px;
}

.cardThree img {
    width: 100%;
    border-radius: 2%;
    height: auto;
    object-fit: cover;
}

.cardThree p {
    color: #E9E9E9;
    text-align: center;
}
